/*****************************************************************
                        Generic Styles
*******************************************************************/

html {
    font-size: 62.5%; 
    box-sizing: border-box;
}

body {
    font-family: 'Markazi Text', serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.7;
    color: #000;
    background-color: #f0f0f0;
    margin: 0;
}

.right{
    float: right;
}

.left{
    float: left;
}

.white{
    color: white;
}

.showRightBorder{
    border-right: .1rem solid red;
}

.showLeftBorder{
    border-left: .1rem solid red;
}

/*Swing  Animation */
@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/****************************************************
            DONATE BUTTON
***************************************************/
.donate{
    position: relative;
}

.topright {
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 18px;
}

.stickToTheRight{
    position: fixed;
    right: 0;
    top: 35%;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.donateButton{
    background-color: #BB0000;
    border: none;
    color: white;
    height: 100px;
    width: 100px;
    padding: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.donateButton:hover{
    background-color: rgb(138, 0, 0);
    text-decoration: none;
    transition: transform .10s;
    transform: scale(0.9);
    -webkit-transition: transform .10s;
    -moz-transition: transform .10s;
    -ms-transition: transform .10s;
    -o-transition: transform .10s;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/***************************************
        Footer Styles
****************************************/





/* media queries */



/*==========================================================================================================*/
/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/

/*ABOUT CSS*/

.generic-body-template {
    font-size: 2.2rem;
}

.generic-body-template-text {
    height: 500px;
    text-align: justify;
    font-size: 2rem;
    color: #000;
}

.generic-body-template-text h2 {
    
    font-size: 2.8rem;
}

.generic-body-template {
    margin-top: 25px;
}

.generic-body-template-nav-link {
    background-color: #BB0000;
    color: #f0f0f0;
    font-size: 2.4rem;
}

.generic-body-template-nav a:hover {
    color: #222222;
}

.generic-body-template-nav a:active {
    background-color: #222222;
    color: #f0f0f0;
}

.nav-pills .nav-link.active {
    background-color:#222222;
    color: #f0f0f0;
}

/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/

/*COUNTACT UP CSS*/

/* .col-lg-8{
    margin-left: 250px;
    margin-bottom: 25px;
}

#contact-form{
    border-top: 2px solid black;
} */

/*=================================================================================*/
/*=================================================================================*/
/*=================================================================================*/

/*NEWS CSS*/

/* *{
    font-family: 'Roboto Slab', serif;
}

.news-hover_effect :hover{
    background-color: grey;
}

.news-section_name{
    font-weight: 700;
}

hr.style {
	border-top: 4px double #8c8b8b;
	text-align: center;
}

.news-image img{
    width: 100%;
    padding: 5px;
}

.news-title{
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;.col-lg-8{
        margin-left: 250px;
        margin-bottom: 25px;
    }
    
    #contact-form{
        border-top: 2px solid black;
    }
    font-size: 19px;
    padding: 5px;
}

.news-button a{
    text-align: center;
    padding: 10px;
    color: white;
}

.news-button{
    text-align: center;
    padding: 10px;
    color: white;
}

.news-button :hover{
    color : white;
    transition: transform .5s;
    transform: scale(1.1);
}

.news-load_more{
    width:100%;
    font-size: 22px;
}

.news-load_more_prev {
    float: left;
    padding: 3px;
}

.news-load_more_next{
    float: right;
    padding: 3px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.grey{
    background-color: #F5F5F5;
}

.news-border{
    border-right: 1px solid grey;
}
 */
