/*****************************************************************
                        Header
*******************************************************************/
.header{
    background-color: #f0f0f0;
    border-bottom: 2.5rem solid #222222;
    padding: .8rem;
    font-family: 'Markazi Text', serif;
}

.imgContainer{
    height: 14rem;
    margin : 0px auto;
    padding : 0px auto;
}

.header-logo{
    height: 100%;
    float: left;
    margin : 0px auto;
    padding : 0px auto;
}

.loginFranciasbutton{
    font-weight: 700;
}

.loginFranciasbutton a{
    color: black;
}

.loginFranciasbutton li{
    display: inline-block;
    padding: .5rem;
}

.loginFranciasbutton a:hover{
    text-decoration: none;
    color: #BB0000;
    transition: transform .3s;
    transform: scale(1.1);
    -webkit-transition: transform .3s;
    -moz-transition: transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
}

.navLinks ul{
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding-left: 0%;
}

.navLinks li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    
    padding: auto;
    text-align: center;
    list-style: none;
    font-size: 2.5rem;
    
    width: 20%;
}

.navLinks li a {
    color: black;
    
}

.navLinks li a:hover{
    text-decoration: none;
    font-weight: 700;
    color: red;
}

.navLinks li a.active {
    font-weight: 700;
    color: red;
}

/*
    New Styles
*/
@media (max-width: 1026px) {
    .willHide { display: none; }
    .header-logo{
        width: 100%;
    }
    .header{
        border-bottom: 1.5rem solid #222222;
    }
}

@media (min-width: 1026px) {
    .willShow { display: none; }
}

.mobileTopHeader i{
    color : red;
    margin : 0px auto;
    padding : 0px auto;
    cursor : pointer;
}
/*****************************************************************
                        Basket
*******************************************************************/
.basket-section{
    height: 30rem;
    position: relative;
    
    
}
.basket-section:hover {
  width: 60rem;
}

.basket-container {
    margin: 0 auto;
    width: 50rem;
    height: 40rem;
    position: relative;
    perspective: 100rem;
    
    
}
.basket-container:hover {
  width: 100rem;
  height: 80rem;
}
#carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
    padding-top: 4rem;
}

.basket-container-item img {
    position: absolute;
    background: #000;
    height: 300px;
  	width: 300px;
    font-size: .5rem;
    text-align: center;
    color: #FFF;
    opacity: 0.9;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.basket-container-item img:hover {
  width: 100rem;
  height: 80rem;
}

.a {
    transform: rotateY(0deg) translateZ(250px);
}
.b {
    transform: rotateY(120deg) translateZ(250px);
}
.c {
    transform: rotateY(240deg) translateZ(250px);
}

.basket-next-button, .basket-prev-button {
    color: black;
    position: absolute;
    top: 10rem;
    padding: 1rem 2rem;
    margin-top: 8rem;
    cursor: pointer;
    background: rgb(255, 191, 191);
    border-radius: .5rem;
    transition: box-shadow 0.1s, top 0.1s;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    -webkit-transition: box-shadow 0.1s, top 0.1s;
    -moz-transition: box-shadow 0.1s, top 0.1s;
    -ms-transition: box-shadow 0.1s, top 0.1s;
    -o-transition: box-shadow 0.1s, top 0.1s;
}

.basket-prev-button {
    box-shadow: 0 .2rem 0 red;
}

.basket-next-button {
    box-shadow: 0 .2rem 0 #BB0000;
}

.basket-next-button:hover, .basket-prev-button:hover { color: #000; }
.basket-next-button:active, .basket-prev-button:active {
    box-shadow: 0 .1rem 0 #BB0000;
}
.basket-next-button {
    right: 10rem;
    top : 5rem;
}
.basket-prev-button {
    left: 10rem; 
    top : 5rem;
}

/*******************************************
            STATS
********************************************/
#stats-cover {
    background-image: url("http://192.168.86.68:8000/img/bg-stats.jpg");
}

#stats .content-box {
    background-color: #222222;
    border-bottom: 3px solid #BB0000;
    border-top: 3px solid #BB0000;
}

.stats-item {
    padding: 10px 0;
}

.stats-item i {
    color: white;
}

.stats-item h2 {
    color: white;
    font-size: 35px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 1px;
}

.stats-item p {
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}

/********************************************************
                Our Sponsors
********************************************************/
.sponsor{
    background-color: #f0f0f0;
    padding-bottom: 30px;
    border-top: 3px solid #BB0000;
}

.heroSlider-fixed img {
    width: auto;
    height: auto;
    padding: 5px;

}

.section-header {
    text-align: center;
    padding-bottom: 1em;
    margin: 0%;
}

.section-header .text {
    font-size: 2.5rem;
    padding-bottom: 0.2em;
    border-bottom: 2px solid red;
}

.slick-slide img {
    width: 99%;
    padding: 0px auto;
}

/* .slick-dots {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.slick-dots li.slick-active button {
    background-color: black;
}

.slick-dots li button {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: #999;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.slick-dots li :hover {
    background-color: black;
} */

.sponsor-feed-prev {
    color: #999;
    position: absolute;
    top: 38%;
    left: -2em;
    font-size: 1.5em;
}
.sponsor-feed-prev :hover {
    cursor: pointer;
    color: black;
}

.sponsor-feed-next {
    color: #999;
    position: absolute;
    top: 38%;
    right: -2em;
    font-size: 1.5em;
}

.sponsor-feed-next :hover {
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 800px) {
    .sponsor-feed-next {
        display: none !important;
    }
}

/********************************************
            Subscribe Styles
*********************************************/
.subscribe {
    background: #f0f0f0;
    text-align: center;
    color: #000;
    border-bottom: 3px solid #BB0000;
}

.subscribe p {
    color: #000;
}

.subscribe  p a {
    /* color: rgba(255, 255, 255, 0.5); */
    color: #000;
}

.subscribe form {
    position: relative;
    margin: 10px auto;
    width: 80%;
    height: 80px;
}

.subscribe input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border: 0;
    border-radius: 4px;
    background: #065cb7;
    outline: 0;
    padding: 2em 1em 1em 1em;
    color: #fff;
    font-size: 1em;
    transition: background 0.35s ease-out;
}

.subscribe input::-webkit-input-placeholder {
    color: #fff;
    text-transform: capitalize;
}

.subscribe input:-moz-placeholder {
    color: #fff;
    text-transform: capitalize;
}

.subscribe input::-moz-placeholder {
    color: #fff;
    text-transform: capitalize;
}

.subscribe input:-ms-input-placeholder {
    color: #fff;
    text-transform: capitalize;
}

.subscribe input:focus {
    background: #044f9e;
}

.subscribe input:focus + label {
    transform: translateY(-10px) scale(0.8);
    color: transparent;
}

.subscribe input:focus + label + button {
    opacity: 1;
}

.subscribe label {
    position: absolute;
    left: 1em;
    top: 50%;
    margin-top: -8px;
    color: #fff;
    text-transform: capitalize;
    transform-origin: left center;
    transition: transform 0.25s ease-out, color 0.25s ease-out;
}

.subscribe button {
    position: absolute;
    right: 0;
    width: 30%;
    height: 100%;
    border: 0;
    border-radius: 4px;
    font-size: 1em;
    background: #065cb7;
    color: #044f9e;
    cursor: pointer;
    opacity: 0;
    outline: none;
    transition: opacity 0.35s ease-out, width 0.5s ease-out, background 0.25s ease-out;
    }

.subscribe button.is-active {
    background: #5c94cd;
    color: #fff;
}

.subscribe button.is-done {
    width: 100%;
    opacity: 1;
}

/***************************
            NEWS FEED
 ****************************/

.news-feed th, td {
    text-align: left;
    padding: 8px;
}

.news-feed {
    background-color: #222222;
    border-top: 3px solid #BB0000;
    padding-bottom: 7rem;
    
}

.news-feed th {
	font-size: 30px;
    background-color: #222222;
    color: #222222;
}

.news-feed-comp-img {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px
}

.news-feed-comp-height {
    height: 100%;
}

.news-feed-comps, .col-4, .col-8 {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.fullWidth{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.tab-content{
    padding: 0px;
}


.resizeImage{
    width: 100vw;
    height : 30px;
}