/********************************************
                General
*********************************************/

.footer{
    background-color:  #222222; 
    width: 100%;
    padding: 50px;
}

.footer-icon-app-text {
    padding: auto;
    text-align: center;
    color: white;
}

.show-right-border{
    border-right: 1.0px solid grey;
}

.footer ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
}

.footer li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.footer li a:hover {
    color: white;
    color: red;
}

.rf{
    background-color: #005475;
    text-align: center;
    height: 120px;
    width: 120px;
    padding-top : 30px;
    padding-right: 7px;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
    color: white;
    border-radius: 10px;
}

/********************************************
                AppElm
*********************************************/

.download-icon {
    font-size: 40px;
    text-align: center;
    padding: auto;
    margin: auto;
    border: 2px solid transparent;
    
}

/********************************************
                Subfooter
*********************************************/

.sub-footer-copyright_navlinks{
    padding: 4px;
    color: white;
}

.sub-footer-copyright{
    float: left;
    padding: 4px;
}

.sub-footer-copyright li{  
    padding: auto 4px;
}

.sub-footer-navlinks{
    float: right;
}

.sub-footer-navlinks li{
    display: inline-block;
    padding: auto 4px;
}

/********************************************
                SocialElm
*********************************************/

.footer-social-icons {
    width: 80%;
    padding: auto;
    margin: auto;
    
}

.footer-social-icons ul {
    list-style: none;
    text-align: center;
}

.footer-social-icons ul li {
    width: 50px;
    height: 50px;
    margin: 0px 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid #D8E2DC;
    font-size: 12px;
    display:inline-block;
    transition: all 0.5s ease;
}

.footer-social-icons ul li .fab {
    margin-top: 8px;
    transition: all 0.5s ease;
}

.footer-social-icons ul li .fa-facebook {
    color: #3b5998;
}

.footer-social-icons ul li:hover.facebook {
    border: 5px solid #3b5998;
    box-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

.footer-social-icons ul li:hover .fa-facebook {
    color: #3b5998;
    text-shadow: 0 0 15px #3b5998;
    transition: all 0.5s ease;
}

/*twitter*/

.footer-social-icons ul li .fa-twitter {
    color: #00aced;
}

.footer-social-icons ul li:hover.twitter {
    border: 5px solid #00aced;
    box-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
}

.footer-social-icons ul li:hover .fa-twitter {
    color: #00aced;
    text-shadow: 0 0 15px #00aced;
    transition: all 0.5s ease;
} */

/* instagram */

.footer-social-icons ul li .fa-instagram {
    color: #bc2a8d;
}

.footer-social-icons ul li:hover.instagram {
    border: 5px solid #bc2a8d;
    box-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

.footer-social-icons ul li:hover .fa-instagram {
    color: #bc2a8d;
    text-shadow: 0 0 15px #bc2a8d;
    transition: all 0.5s ease;
}

/* whatsapp */
.footer-social-icons ul li .fa-linkedin {
    color: #0077B5;
}

.footer-social-icons ul li:hover.linkedin {
    border: 5px solid #0077B5;
    box-shadow: 0 0 15px #0077B5;
    transition: all 0.5s ease;
}

.footer-social-icons ul li:hover .fa-linkedin {
    color: #0077B5;
    text-shadow: 0 0 15px #0077B5;
    transition: all 0.5s ease;
}


/*-----------------*/
@media screen and (max-width: 640px){
    .footer-social-icons {
        width: 350px;
    }
    .footer-social-icons ul li{
        margin-top: 10px;
    }
    .footer-social-icons ul li.google{
        margin-left: 60px;
    }
}


@media screen and (max-width: 340px){
.footer-social-icons {
    width: 150px;
}
.footer-social-icons ul li{
    margin:15px;
}
.footer-social-icons ul li.google{
    margin-left: 15px;
}
}

.download-links-container{
    width: 100%;
}

.download-links-android{
    width: 50%;
}

.badge {
    font-family: system, -apple-system, '.SFNSDisplay-Regular', 'San Francisco', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}