/*----- COMPANY NAME & SLOGAN STYLES BEGIN ---------*/
.name-slogan{
    font-weight: 700;
    background-color: #F5F5F5;
    height: 100px;
    font-family: 'Montserrat', sans-serif;

}
/*----- COMPANY NAME & SLOGAN STYLES ENDS ---------*/