.test3{
    position: relative;
    overflow-y: scroll;

}

.test2 {
    position: fixed;
    vertical-align: top;
}

.test {
    height: 400px;
    text-align: justify;
}


.test123 {
    /* background-color: linear-gradient(to top, #990F02, #222222); */
    /* background-color: red; */
    /* background: linear-gradient(to bottom, #990F02, #222222); */
    background-color: f0f0f0;
}

.test12 {
    border-radius: 100px;border-radius: 100px;
    border: 3px solid black;
}

.test13 {
    background: transparent;
}

.hieghtlite {
    border-radius: 20px;
    padding: 25px;
}

.jumbotron {
    margin-top: 25px;
}

.test1234 {
    background-color: #990F02;
    color: #f0f0f0;
    font-size: 22px;
}


.test34 a:active {
    background-color:#005475;
    color: #f0f0f0;
}

.nav-pills .nav-link.active {
    background-color:#005475;
    color: #f0f0f0;
}